*{
    padding: 0px;
    margin: opx;
}

.skill ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
 }
 .skill ul li{
    height: 15px;
    width: 100px;
    border: 2px black solid;
    text-align: center;
    padding: 20px;
    margin-left: 2px;

 }
  .icon-icon1{
    font-size: 20px;
   }
.paragraph{
    margin-left: 70px;
 }
  .icon-icon2{
    font-size: 20px;
   }
   .paragraph2{
    margin-left: 70px;
 }
 button{
    color: greenyellow;
    background-color: rgb(125, 205, 125);
    height: 30px;
    width: 60px;
    margin-left: 30px;
    border-color: rgb(125, 205, 125);
    

 }
 .container {
    width: 1400px;
    height: 1000px;
    background-color: lavender;
    
    
 }
 .header{
    height: 260px;
    width: 1100px;
    background-color: green;
    margin-left: 100px;
    padding-top: 20px;
 }
 h1{
    color:rgb(125, 205, 125); 
    font-size: 40px;
    margin-left: 30px;
 }
 .nav ul li{
    display: inline-flex;
    justify-content: space-between;
    margin: 10px;
    height: 30px;
    width: 150px;
    border: 2px black solid;
    padding-left: 5px;
 }
 .TEXTING{
    display: flex;

 }
 .TEXT p{
    height: 120px;
    width: 220px;
    border: 1px blueviolet solid;
    margin: 10px;
    border-radius: 50%;
    padding-top: 70px;
    background-color:rgb(177, 24, 75);

 }
.TEXT2 p{
    height: 120px;
    width: 220px;
    border: 1px blueviolet solid;
    margin: 10px;
    border-radius: 50%;
    padding-top: 70px;
    background-color:rgb(177, 24, 75);

    
}
.TEXT3 p{
    height: 120px;
    width: 220px;
    border: 1px blueviolet solid;
    margin: 10px;
    border-radius: 50%;
    padding-top: 70px;
    background-color:rgb(177, 24, 75);

}
.btn{
    margin-left: 900px;
    height: 30px;
    width: 150px;
    border: 1px blue solid;
    text-align: center;
    padding-top: 20px;
    background-color:rgb(177, 24, 75);

    border-radius: 20px;
}
 